@import "@fontsource/fira-sans";
@import "@fontsource-variable/work-sans";

:root {
  /* Colors */
  --ed-black: #232631;
  --ed-primary: #FF742A;
  --ed-white: #FDFDFD;
  --ed-gray: #FBFBFB;

  /* Gradients */
  --ed-primary-gradient: linear-gradient(90deg, #FF742A 0%, #FFB1B2 100%);

  /* Borders */
  --ed-border: rgba(0, 0, 0, 0.17);

  /* Shadows */
  --ed-shadow: 6px -8px 20.1px 0px rgba(35, 38, 49, 0.11);

  /* Fonts */
  --ed-fira-sans: 'Fira Sans', ui-sans-serif, system-ui, sans-serif;
  --ed-work-sans: 'Work Sans Variable', Comic, Georgia, serif;
}